@media screen and (max-width: 2560px) {

  .link {
    text-decoration: none;
  }

  .props {
    text-align: center;
    margin: 0 70px;
  }

  .description {
    color: #371c56;
    font-size: 24px;
    font-family: 'Architects Daughter', cursive;
  }

  .word {
    color: #e15441;
    font-size: 24px;
    font-family: 'Architects Daughter', cursive;
  }

  .error {
    margin: 50px 100px;
    font-family: 'Architects Daughter', cursive;
    color: #5d2020;
    font-size: 72px;
  }

  .audio {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width: 1024px) {

  .description {
    font-size: 22px;
  }

  .word {
    font-size: 22px;
  }

  .error {
    font-size: 48px;
  }

}

@media screen and (max-width: 768px) {
  .props {
    margin: 0 40px;
  }

  .description {
    font-size: 18px;
  }

  .word {
    font-size: 18px;
  }

  .error {
    margin: 50px 80px;
    font-size: 36px;
  }

}

@media screen and (max-width: 425px) {
  .props {
    margin: 0 20px;
  }

  .description {
    font-size: 16px;
  }

  .word {
    font-size: 16px;
  }

  .error {
    margin: 20px 60px;
    font-size: 30px;
  }

}
