.link {
  text-decoration: none
}

.button {
  text-align: center;
}

.props {
  text-align: center;
}

.description {
  color: #371c56;
  font-size: 24px;
  font-family: 'Architects Daughter', cursive;
}

.word {
  color: #e15441;
  font-size: 24px;
  font-family: 'Architects Daughter', cursive;
}

.error {
  margin: 50px 100px;
  font-family: 'Architects Daughter', cursive;
  color: #5d2020;
  font-size: 72px;
}