.title {
  font-size: 128px;
  color: #70203d;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}

.description {
  font-size: 48px;
  color: #70203d;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}