header {
  color: #371c56;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}

.developer {
  display: inline-block;
  font-size: 28px;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  margin: 0 15px;
}

.image {
  width: 32px;
  vertical-align: middle;
}

.link {
  text-decoration: none;
}

