header {
  color: #371c56;
  font-family: 'Architects Daughter', cursive;
}

.developer {
  display: inline-block;
  font-size: 28px;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
}

.image {
  width: 36px;
  vertical-align: middle;
}

.button {
  background-color: #371c56;
  display:inline-block;
  color: #c08d21;
  vertical-align: middle;
}
