.title {
  font-size: 64px;
  color: #214b31;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}

.form {
  text-align: center;
}

.error {
  font-family: 'Architects Daughter', cursive;
  color: #5d2020;
  font-size: 20px;
}

.search {
  font-family: 'Architects Daughter', cursive;
  margin-right: 10px;
  font-size: 32px;
  color: #371c56;
}